$def with(datos)

<h1>Base de Datos</h1>

<table>
    <th>Nombre</th>
    <th>Marca</th>
    <th>Precio</th>
    <th>Categoria</th>
    <th>Descripcion</th>
    <th>Update</th>
    <th>Delete</th>
    $for row in datos:
        <tr>
            <td> <a href="/view_productos/$row.nombre">$row.nombre</a> </td>
            <td> <a href="/view_productos/$row.nombre">$row.marca</a> </td>
            <td> <a href="/view_productos/$row.nombre">$row.precio</a> </td>
            <td> <a href="/view_productos/$row.nombre">$row.categoria</a> </td>
            <td> <a href="/view_productos/$row.nombre">$row.descripcion</a> </td>
            <td> <a href="/delete_productos/$row.nombre"> <img src="/static/images/delete-photo.png" height="23px" width="20px"> </a> </td>
            <td> <a href="/update_productos/$row.nombre"> <img src="/static/images/refresh.png" height="23px" width="23px"> </a> </td>
        </tr>
</table>
<br>
<a href="/insert_productos"> <img src="/static/images/add-dock.png" height="40px" width="40px"> Insertar Producto</a>