<a href="/productos"> <h1>Insert Producto</h1> </a>

<form method="POST">
    <label for="nombre">Nombre</label>
    <input type="text" id="nombre" name="nombre" placeholder="Nombre">
    <br>
    <label for="marca">Marca</label>
    <input type="text" id="marca" name="marca" placeholder="Marca">
    <br>
    <label for="precio">Precio</label>
    <input type="text" id="precio" name="precio" placeholder="Precio">
    <br>
    <label for="categoria">Categoria</label>
    <input type="text" id="categoria" name="categoria" placeholder="Categoria">
    <br>
    <label for="descripcion">Descripcion</label>
    <input type="text" id="descripcion" name="descripcion" placeholder="Descripcion">
    <br>
    <button type="submit" class="btn btn-primary">Insert</button>
</form>